.codex
.env
.env.*
.git
.github
.vscode
TODO.md

abridged
coverage.out
frontend/dist
node_modules

*.exe
*.dll
*.so
*.dylib
*.test
*.out

npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-debug.log*

.DS_Store
